gradio
pdf2image
numpy
hf_xet
transformers
transformers-stream-generator
qwen-vl-utils
torchvision
torch
requests
huggingface_hub
spaces
accelerate
pillow
opencv-python
av
timm
einops
pyvips
pyvips-binary
pydantic